DEBUG=True
SECRET_KEY=9(p*qazzm^_zg9b-@a+#s=@%ca%wka66$q-f73xo8udbpr)g^e
ALLOWED_HOSTS=localhost,127.0.0.1,.localhost

DB_NAME=saas_salon
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432